<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-divider">Importar dados de Fechamento
                            <span class="panel-subtitle">Lançar automaticamente os dados para o Fechamento de Inverno
                                2020</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-sm-3 control-label"
                                                    for="form-control-22">Planilha</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input name="arquivo_xls" [(ngModel)]="fileName" readonly class="form-control" type="text" placeholder="Escolher o arquivo">
                                                        <span class="input-group-btn">
                                                            <label class="btn btn-primary file-upload-btn">
                                                                <input class="file-upload-input" type="file" name="file"
                                                                    (change)="onFileChange($event)" accept=".xls,.xlsx">
                                                                <i class="icon mdi mdi-upload"></i>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="row">
                                                <label class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="postForm()">Importar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-stat" *ngIf="arrData?.length > 0">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Estado</th>
                            <th scope="col">Cultivar</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Venda</th>
                            <th scope="col">Devolução</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of arrData">
                            <td>{{ item.estado }}</td>
                            <td>{{ item.cultivar }}</td>
                            <td>{{ item.valor }}</td>
                            <td>{{ item.venda }}</td>
                            <td>{{ item.devolucao }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>