<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <h2 class="h2" style="padding-top:20px">Fechamento Inverno 2020</h2>
        <form name="frmFechamento">
          <div class="panel panel-default" *ngFor="let item of formData; let i = index">
            <div class="panel-heading panel-heading-divider">
              <a href="javascript:;" (click)="deletaCultivar(i)"><i class="fa fa-trash" aria-hidden="true"></i></a> Cultivar
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="form-control-1">Cultivar</label>
                    <select name="cultivar" id="form-control-1" class="custom-select" [(ngModel)]="formData[i].cultivar" [ngModelOptions]="{standalone: true}">
                      <option value="1">Agrisure TG (GA 21)</option>
                      <option value="2">RR2 (NK 603)</option>
                      <option value="3">Agrisure TL (Bt 11)</option>
                      <option value="4">Viptera (MIR 162)</option>
                      <option value="5">Yeldgard (MON 810)</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="form-control-2">Nível</label>
                    <select name="nivel" id="form-control-2" class="custom-select" [(ngModel)]="formData[i].nivel" [ngModelOptions]="{standalone: true}">
                      <option value="1">Nível I</option>
                      <option value="2">Nível II</option>
                      <option value="3">Nível III</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-1 text-right">
                  <label for="form-control-2">Total (venda/ciclo)</label>
                  <h3>{{ formData[i].pegaTotal().venda }} / {{ formData[i].pegaTotal().ciclo }}</h3>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <div class="xs-mt-12 xs-mb-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group switches-stacked">
                          <label class="switch switch-primary">
                            <input name="venda_giro" type="checkbox" name="switches" class="s-input" checked="checked" [(ngModel)]="formData[i].venda_giro" [ngModelOptions]="{standalone: true}">
                            <span class="s-content">
                              <span class="s-track"></span>
                              <span class="s-handle"></span>
                            </span>
                            <span for="form-control-3">Venda e Giro com valores iguais</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <label for="form-control-4">Estado</label>
                      </div>
                      <div class="col-sm-2">
                        <label for="form-control-5">Venda <small class="text-muted">(sc)</small></label>
                      </div>
                      <div class="col-sm-2">
                        <label for="form-control-6">Ciclo <small class="text-muted">(sc)</small></label>
                      </div>
                      <div class="col-sm-2">
                        <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Apagar linha">i</span>
                      </div>
                    </div>
                    <div class="estados" *ngFor="let item of formData[i].estados; let ii = index">
                      <div class="row linha-estado">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <select class="custom-select" [(ngModel)]="formData[i].estados[ii].estado" [ngModelOptions]="{standalone: true}">
                              <option value="1">São Paulo</option>
                              <option value="2">Minas Gerais</option>
                              <option value="3">Rio de Janeiro</option>
                              <option value="4">Espirito Santo</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <input name="venda" id="form-control-5" class="form-control" type="text" [(ngModel)]="formData[i].estados[ii].venda" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <input name="ciclo" id="form-control-6" class="form-control" type="text" [(ngModel)]="formData[i].estados[ii].ciclo" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <button (click)="apagaLinha(i, ii)" type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Apagar linha"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                      </div>
                      <div class="row" *ngIf=" ii === formData[i].estados.length-1 ">
                        <div class="col-sm-12">
                          <button type="button" class="btn btn-outline-primary" (click)="adicionaEstado(i)">Adicionar Estado</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-right">
              <button (click)="adicionarCultivar()" type="button" class="btn btn-primary">Adicionar Cultivar</button>
            </div>
          </div>
        </form>
        <div class="row mt-4" *ngFor="let total of pegaTotalEstado();">
          <div class="col-sm-6">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Região</th>
                    <th>Super Precoce<br><small>Híbrido</small></th>
                    <th>Precoce<br><small>Híbrido</small></th>
                    <th>Normal<br><small>Híbrido</small></th>
                    <th>Milho Variedade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sudeste</td>
                    <td>{{ total.totalEstados.sudeste.super_precoce.venda }} / {{ total.totalEstados.sudeste.super_precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.sudeste.precoce.venda }} / {{ total.totalEstados.sudeste.precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.sudeste.normal.venda }} / {{ total.totalEstados.sudeste.normal.ciclo }}</td>
                    <td>{{ total.totalEstados.sudeste.milho_variedade.venda }} / {{ total.totalEstados.sudeste.milho_variedade.ciclo }}</td>
                  </tr>
                  <tr>
                    <td>Sul</td>
                    <td>{{ total.totalEstados.sul.super_precoce.venda }} / {{ total.totalEstados.sul.super_precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.sul.precoce.venda }} / {{ total.totalEstados.sul.precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.sul.normal.venda }} / {{ total.totalEstados.sul.normal.ciclo }}</td>
                    <td>{{ total.totalEstados.sul.milho_variedade.venda }} / {{ total.totalEstados.sul.milho_variedade.ciclo }}</td>
                  </tr>
                  <tr>
                    <td>Centroeste</td>
                    <td>{{ total.totalEstados.centro_oeste.super_precoce.venda }} / {{ total.totalEstados.centro_oeste.super_precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.centro_oeste.precoce.venda }} / {{ total.totalEstados.centro_oeste.precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.centro_oeste.normal.venda }} / {{ total.totalEstados.centro_oeste.normal.ciclo }}</td>
                    <td>{{ total.totalEstados.centro_oeste.milho_variedade.venda }} / {{ total.totalEstados.centro_oeste.milho_variedade.ciclo }}</td>
                  </tr>
                  <tr>
                    <td>Nordeste</td>
                    <td>{{ total.totalEstados.nordeste.super_precoce.venda }} / {{ total.totalEstados.nordeste.super_precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.nordeste.precoce.venda }} / {{ total.totalEstados.nordeste.precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.nordeste.normal.venda }} / {{ total.totalEstados.nordeste.normal.ciclo }}</td>
                    <td>{{ total.totalEstados.nordeste.milho_variedade.venda }} / {{ total.totalEstados.nordeste.milho_variedade.ciclo }}</td>
                  </tr>
                  <tr>
                    <td>Norte</td>
                    <td>{{ total.totalEstados.norte.super_precoce.venda }} / {{ total.totalEstados.norte.super_precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.norte.precoce.venda }} / {{ total.totalEstados.norte.precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.norte.normal.venda }} / {{ total.totalEstados.norte.normal.ciclo }}</td>
                    <td>{{ total.totalEstados.norte.milho_variedade.venda }} / {{ total.totalEstados.norte.milho_variedade.ciclo }}</td>
                  </tr>
                  <tr>
                    <td>Exortação</td>
                    <td>{{ total.totalEstados.exportacao.super_precoce.venda }} / {{ total.totalEstados.exportacao.super_precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.exportacao.precoce.venda }} / {{ total.totalEstados.exportacao.precoce.ciclo }}</td>
                    <td>{{ total.totalEstados.exportacao.normal.venda }} / {{ total.totalEstados.exportacao.normal.ciclo }}</td>
                    <td>{{ total.totalEstados.exportacao.milho_variedade.venda }} / {{ total.totalEstados.exportacao.milho_variedade.ciclo }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Região</th>
                    <th>Duplo<br><small>Híbrido</small></th>
                    <th>Triplo<br><small>Híbrido</small></th>
                    <th>Simples<br><small>Híbrido</small></th>
                    <th>Simples Modificado<br><small>Híbrido</small></th>
                    <th>Milho Variedade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sudeste</td>
                    <td>{{ total.totalEstados.sudeste.duplo_hibrido.venda }} / {{ total.totalEstados.sudeste.duplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.sudeste.triplo_hibrido.venda }} / {{ total.totalEstados.sudeste.triplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.sudeste.simples_hibrido.venda }} / {{ total.totalEstados.sudeste.simples_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.sudeste.simples_modificado.venda }} / {{ total.totalEstados.sudeste.simples_modificado.ciclo }}</td>
                    <td>{{ total.totalEstados.sudeste.milho_variedade2.venda }} / {{ total.totalEstados.sudeste.milho_variedade2.ciclo }}</td>
                  </tr>
                  <tr>
                    <td>Sul</td>
                    <td>{{ total.totalEstados.sul.duplo_hibrido.venda }} / {{ total.totalEstados.sul.duplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.sul.triplo_hibrido.venda }} / {{ total.totalEstados.sul.triplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.sul.simples_hibrido.venda }} / {{ total.totalEstados.sul.simples_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.sul.simples_modificado.venda }} / {{ total.totalEstados.sul.simples_modificado.ciclo }}</td>
                    <td>{{ total.totalEstados.sul.milho_variedade2.venda }} / {{ total.totalEstados.sul.milho_variedade2.ciclo }}</td>
                  </tr>
                  <tr>
                    <td>Centroeste</td>
                    <td>{{ total.totalEstados.centro_oeste.duplo_hibrido.venda }} / {{ total.totalEstados.centro_oeste.duplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.centro_oeste.triplo_hibrido.venda }} / {{ total.totalEstados.centro_oeste.triplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.centro_oeste.simples_hibrido.venda }} / {{ total.totalEstados.centro_oeste.simples_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.centro_oeste.simples_modificado.venda }} / {{ total.totalEstados.centro_oeste.simples_modificado.ciclo }}</td>
                    <td>{{ total.totalEstados.centro_oeste.milho_variedade2.venda }} / {{ total.totalEstados.centro_oeste.milho_variedade2.ciclo }}</td>
                  </tr>
                  <tr>
                    <td>Nordeste</td>
                    <td>{{ total.totalEstados.nordeste.duplo_hibrido.venda }} / {{ total.totalEstados.nordeste.duplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.nordeste.triplo_hibrido.venda }} / {{ total.totalEstados.nordeste.triplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.nordeste.simples_hibrido.venda }} / {{ total.totalEstados.nordeste.simples_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.nordeste.simples_modificado.venda }} / {{ total.totalEstados.nordeste.simples_modificado.ciclo }}</td>
                    <td>{{ total.totalEstados.nordeste.milho_variedade2.venda }} / {{ total.totalEstados.nordeste.milho_variedade2.ciclo }}</td>
                  </tr>
                  <tr>
                    <td>Norte</td>
                    <td>{{ total.totalEstados.norte.duplo_hibrido.venda }} / {{ total.totalEstados.norte.duplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.norte.triplo_hibrido.venda }} / {{ total.totalEstados.norte.triplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.norte.simples_hibrido.venda }} / {{ total.totalEstados.norte.simples_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.norte.simples_modificado.venda }} / {{ total.totalEstados.norte.simples_modificado.ciclo }}</td>
                    <td>{{ total.totalEstados.norte.milho_variedade2.venda }} / {{ total.totalEstados.norte.milho_variedade2.ciclo }}</td>
                  </tr>
                  <tr>
                    <td>Exortação</td>
                    <td>{{ total.totalEstados.exportacao.duplo_hibrido.venda }} / {{ total.totalEstados.exportacao.duplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.exportacao.triplo_hibrido.venda }} / {{ total.totalEstados.exportacao.triplo_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.exportacao.simples_hibrido.venda }} / {{ total.totalEstados.exportacao.simples_hibrido.ciclo }}</td>
                    <td>{{ total.totalEstados.exportacao.simples_modificado.venda }} / {{ total.totalEstados.exportacao.simples_modificado.ciclo }}</td>
                    <td>{{ total.totalEstados.exportacao.milho_variedade2.venda }} / {{ total.totalEstados.exportacao.milho_variedade2.ciclo }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
