<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <h2 class="h2" style="padding-top:20px">Fechamento Inverno 2020</h2>
        <form>

          <div class="panel panel-default">
            <div class="panel-heading panel-heading-divider">
              Cultivar
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="form-control-1">Cultivar</label>
                    <select id="form-control-1" class="custom-select">
                      <option value="1">Agrisure TG (GA 21)</option>
                      <option value="2">RR2 (NK 603)</option>
                      <option value="3">Agrisure TL (Bt 11)</option>
                      <option value="4">Viptera (MIR 162)</option>
                      <option value="5">Yeldgard (MON 810)</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="form-control-2">Nível</label>
                    <select id="form-control-2" class="custom-select">
                      <option value="1">Nível I</option>
                      <option value="2">Nível II</option>
                      <option value="3">Nível III</option>
                    </select>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="panel-body">
              <div class="xs-mt-12 xs-mb-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group switches-stacked">
                          <label class="switch switch-primary">
                            <input type="checkbox" name="switches" class="s-input" checked="checked">
                            <span class="s-content">
                              <span class="s-track"></span>
                              <span class="s-handle"></span>
                            </span>
                            <span for="form-control-3">Venda e Giro com valores iguais</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="estados">
                      <div class="row linha-estado">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="form-control-4">Estado</label>
                            <select id="form-control-4" class="custom-select">
                              <option value="1">São Paulo</option>
                              <option value="2">Minas Gerais</option>
                              <option value="3">Rio de Janeiro</option>
                              <option value="4">Espirito Santo</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label for="form-control-5">Venda <small class="text-muted">(sc)</small></label>
                            <input id="form-control-5" class="form-control" type="text">
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label for="form-control-6">Ciclo <small class="text-muted">(sc)</small></label>
                            <input id="form-control-6" class="form-control" type="text">
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <label for="form-control-6" data-toggle="tooltip" data-placement="top" title="Apagar linha"><span class="badge badge-pill badge-secondary">i</span></label><br>
                          <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Apagar linha"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <button type="button" class="btn btn-outline-primary btn-block" (click)="adicionaEstado()">Adicionar Estado</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-right">
              <button type="button" class="btn btn-primary">Adicionar Cultivar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
