
<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-lg-4">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-refresh" aria-hidden="true"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Giro 2020</h5>
                            <h1 class="mt5">47.125.633</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">2019</h5>
                                <h4 class="nomargin">55.180.792</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">2018</h5>
                                <h4 class="nomargin">49.887.366</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-dark noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-shopping-cart"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Venda 2020</h5>
                            <h1 class="mt5">48.343.457</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">2019</h5>
                                <h4 class="nomargin">58.476.152</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">2018</h5>
                                <h4 class="nomargin">54.761.287</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-4 col-md-6">
                <div class="panel panel-darkest noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="fa fa-industry"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Suas Vendas</h5>
                            <h1 class="mt5">1.195.475</h1>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">2019</h5>
                                <h4 class="nomargin">1.328.489</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">2018</h5>
                                <h4 class="nomargin">978.481</h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
        </div>
        <!--
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="white-box">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-md-6">
                <div class="white-box">
                    <h2>Preço Médio Praticado Verão 2019</h2>
                    <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType">
                    </canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-box">
                    <h2>Parcial Verão 2019</h2>
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [colors]="barChartColors"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="white-box">
                    <h2>Inverno 20 São Paulo</h2>
                    <canvas baseChart
                        [datasets]="pieChartData"
                        [labels]="pieChartLabels"
                        [options]="pieChartOptions"
                        [legend]="pieChartLegend"
                        [chartType]="pieChartType">
                    </canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-box">
                    <h2>Bt Puro x Bt RR x Não BT</h2>
                    <canvas baseChart
                        [datasets]="bar2ChartData"
                        [labels]="bar2ChartLabels"
                        [options]="bar2ChartOptions"
                        [colors]="bar2ChartColors"
                        [legend]="bar2ChartLegend"
                        [chartType]="bar2ChartType">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h2>Totais Estaduais</h2>
                    <canvas baseChart
                        [datasets]="bar3ChartData"
                        [labels]="bar3ChartLabels"
                        [options]="bar3ChartOptions"
                        [legend]="bar3ChartLegend"
                        [chartType]="bar3ChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
